<table class="table" >
  <caption class="lead">Products</caption>
  <thead>
    <tr>
		<th>Question</th>
		<th>Option 1</th>
		<th>Option 2</th>
		<th>Option 3</th> 
		<th>Option 4</th>	 
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{products[counter].ques}} ?</td>
      <td><input type="radio" ng-model="value"  value="1" ng-change='newValue(value)'>			  	  {{products[counter].opt1}} </input></td>
       <td><input type="radio" ng-model="value" value="2" ng-change='newValue(value)'>			  	 {{products[counter].opt2}} </input></td>	 
       <td><input type="radio" ng-model="value" value="3" ng-change='newValue(value)'>			  	 {{products[counter].opt3}} </input></td> 
	   <td><input type="radio" ng-model="value" value="4" ng-change='newValue(value)'>			  	 {{products[counter].opt4}} </input></td>	 	  
    </tr>
  </tbody>
 	
</table>

  <button ng-init="counter = 0" class="btn btn-success" ng-click="addProduct()">Next</button>
    {{counter}}
	
<p>
  <!-- <a href="#/add" class="btn btn-success" role="button">Add New Product</a> -->
</p>

 

