 
<div ng-hide="isFormOpen">
	Enter Name : <input type="text" ng-model="username">  
	<button class="btn btn-success" ng-click="isFormOpen = !isFormOpen">Reply</button>
</div>

<div ng-init="isFormOpen = false" ng-show="isFormOpen">
<table class="table" >
  <caption class="lead">Welcome {{username}} !!
	<h6> {{products.length -counter}} left</h6>
  </caption> 
  <thead>
    <tr>
		<th>Question</th>
		<th>Option 1</th>
		<th>Option 2</th>
		<th>Option 3</th> 
		<th>Option 4</th>	 
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{products[counter].ques}} ?</td>
      <td><input type="radio" ng-model="value"  value="1" ng-change='newValue(value)'>			  	  {{products[counter].opt1}} </input></td>
       <td><input type="radio" ng-model="value" value="2" ng-change='newValue(value)'>			  	 {{products[counter].opt2}} </input></td>	 
       <td><input type="radio" ng-model="value" value="3" ng-change='newValue(value)'>			  	 {{products[counter].opt3}} </input></td> 
	   <td><input type="radio" ng-model="value" value="4" ng-change='newValue(value)'>			  	 {{products[counter].opt4}} </input></td>	 	  
    </tr>
  </tbody>
 	
</table>

  <button ng-init="counter = 0" class="btn btn-success" ng-click="addProduct()">Next</button>
    	
<p>
  <!-- <a href="#/add" class="btn btn-success" role="button">Add New Product</a> -->
</p>

</div>
 

